$primary-color:       #58C07E;
$alt-primary-color:   #C9EEDE;
$secondary-color:     #53B8F9;
$alt-secondary-color: #E8F7FE;

$bg-color:            #ffffff;
$light-bg-color:      #f5f5f5;
$dark-bg-color:       #dedede;

$light-text-color:    #E5E5E5;
$dark-text-color:     #2F2F2F;

$low-text-color:      #D89B36;
$medium-text-color:   #58C07E;
$high-text-color:     #EB5446;
$nav-text-color:      #FFFFFF;

$button-color:        #FFFFFF;

$success-color:       #5CB85C;
$info-color:          #5BC0DE;
$warning-color:       #F0AD4E;
$error-color:         #D9534F;

$title-color:         #FFFFFF;
$purple-color:        #900090;
$border-color:        rgba(0, 0, 0, .1);

$msg-primary-color:   #f0f4f8;
$msg-secondary-color: #c7edfc;

$primary-shadow-color: rgba(88, 192, 126, .5);
