@import '../../common/variables';

md-toast {
  position: fixed;

  &.md-success-toast-theme {
    .md-toast-content {
      background-color: $success-color;
    }
  }

  &.md-error-toast-theme {
    .md-toast-content {
      background-color: $error-color;
    }
  }
}
