@import '../../common/variables';

md-toolbar {
  &.etp-navbar {
    background-color: $primary-color;

    .title {
      font-size: 1.2rem;
      text-align: center;
    }

    .md-menu {
      margin: 0;

      .md-button {
        min-width: 0;
        margin: 0;

        span {
          margin-right: 10px;
        }
      }
    }
  }
}
