@import '../../common/variables';

.account-setting-page {
  md-input-container {
    .md-errors-spacer {
      display: none;
    }

    .material-icons {
      font-family: inherit;
      font-size: 1rem;
      color: $primary-color;
    }
  }
}
