etp-logo {
  text-align: center;

  .etp-logo-component {
    display: inline-block;
    position: relative;
    min-width: 32px;
    min-height: 32px;

    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('./images/logo.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      outline: none;
    }
  }
}
