@import '../../common/variables';

.etp-leaderboard {
  .header {
    background-color: $light-bg-color;
    outline: none;
    cursor: pointer;

    .md-subheader {
      background-color: $light-bg-color;
    }

    .material-icons {
      padding: 0 16px;
      color: $primary-color;
    }
  }

  .body {
    ul {
      list-style: none;
      margin: 0;
      padding: 0 20px;

      li {
        span {
          display: block;

          &.num {
            width: 50px;
            float: left;
          }

          &.name {
            margin-left: 50px;
          }
        }
      }
    }
  }
}
