<main class='etp-forgot-password' layout layout-align="center center">
  <div class="wrapper" layout="column">
    <etp-logo size="160"></etp-logo>
    <md-content flex layout-padding>
      <form layout="column" name="$ctrl.forgotForm">
        <md-input-container>
          <label>Email</label>
          <input ng-model="$ctrl.email" name="email" type="email" required>
        </md-input-container>
        <section layout="row" layout-align="center center">
          <md-button  type="submit" 
                      class="md-raised etp-primary-button etp-large-button" 
                      ng-disabled="$ctrl.forgotForm.$invalid"
                      ng-click="$ctrl.reset()">Reset your password</md-button>
        </section>
      </form>
    </md-content>
    <div layout="row">
      <a class="back-to-login" ui-sref="login" flex="100" layout layout-align="center center">Back to Log In</a>
    </div>
  </div>
</main>