@import '../../common/variables';

.etp-forgot-password {
  background-color: $primary-color;
  position: fixed;
  height: 100%;
  width: 100%;

  .wrapper {
    max-width: 80%;
    width: 400px;

    md-content {
      margin: 10px 0 0;
      border-radius: 10px;
    }

    .back-to-login {
      line-height: 4;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
